@if variable-exists(logo-#{$color-scheme}) {
    .site-logo {
        background-image: url(#{$logo}) !important;
    }
}
.site-title {
    padding-top: 0;
    padding-bottom: 0;
}
li.aux-nav-list-item:has(.js-set-#{$color-scheme}-mode) {
    display: none;
}