.site-logo {
    background-image: url(/guidebook/assets/images/logo-#{$color-scheme}-640x128.png);
}
.site-title {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
li.aux-nav-list-item:has(.js-set-#{$color-scheme}-mode) {
    display: none;
}
iframe.discord-widget {
    -moz-box-shadow: 0 0 1rem #333;
    -webkit-box-shadow: 0 0 1rem #333;
    box-shadow: 0 0 1rem #333;
    max-width: 350px;
    height: 500px;
    border-radius: 7px;
}
